<div class="mt-28 pb-10 px-6 min-h-screen">
  <div class="max-w-md mx-auto">
    <div class="card bg-base-200 shadow-xl">
      <div class="card-body">
        <h2 class="text-2xl font-bold mb-4">Connexion</h2>
        @if (errorMessage) {
        <div class="alert alert-error mb-4">
          <span>{{ errorMessage }}</span>
        </div>
        }
        <form (ngSubmit)="onLogin()">
          <div class="form-control mb-4">
            <label class="label">
              <span class="label-text">Email</span>
            </label>
            <div class="input-group">
              <span class="bg-base-300 px-4 flex items-center">
                <fa-icon [icon]="faUser"></fa-icon>
              </span>
              <input
                type="email"
                placeholder="email@example.com"
                class="input input-bordered w-full"
                [(ngModel)]="email"
                name="email"
              />
            </div>
          </div>
          <div class="form-control mb-4">
            <label class="label">
              <span class="label-text">Mot de passe</span>
            </label>
            <div class="input-group">
              <span class="bg-base-300 px-4 flex items-center">
                <fa-icon [icon]="faLock"></fa-icon>
              </span>
              <input
                type="password"
                placeholder="Entrez votre mot de passe"
                class="input input-bordered w-full"
                [(ngModel)]="password"
                name="password"
              />
            </div>
          </div>
          <div class="form-control mt-6">
            <button class="btn btn-primary">Se connecter</button>
          </div>
          <div class="text-center mt-4">
            <span>Vous n'avez pas de compte ? </span>
            <a routerLink="/register" class="link link-primary">Inscrivez-vous ici</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<app-footer />
