<div class="pb-10 px-6 min-h-screen flex items-center justify-center">
  <div class="max-w-md mx-auto">
    <div class="card bg-base-200 shadow-xl">
      <div class="card-body">
        <h2 class="text-2xl font-bold mb-4">Connexion</h2>
        @if (errorMessage) {
        <div class="alert alert-error mb-4">
          <span>{{ errorMessage }}</span>
        </div>
        }
        <form (ngSubmit)="onLogin()">
          <div class="form-control mb-4">
            <label class="label">
              <span class="label-text">Email</span>
            </label>
            <label class="input input-bordered flex items-center gap-2">
              <fa-icon [icon]="faUser"></fa-icon>
              <input
                type="email"
                placeholder="email@example.com"
                class="grow"
                [(ngModel)]="email"
                name="email"
              />
            </label>
          </div>
          <div class="form-control mb-4">
            <label class="label">
              <span class="label-text">Mot de passe</span>
            </label>
            <label class="input input-bordered flex items-center gap-2">
              <fa-icon [icon]="faLock"></fa-icon>
              <input
                [type]="showPassword ? 'text' : 'password'"
                placeholder="Entrez votre mot de passe"
                class="grow"
                [(ngModel)]="password"
                name="password"
              />
              <button type="button" (click)="showPassword = !showPassword">
                <fa-icon [icon]="showPassword ? faEyeSlash : faEye"></fa-icon>
              </button>
            </label>
          </div>
          <div class="form-control mt-6">
            <button class="btn btn-primary">Se connecter</button>
          </div>
          <div class="text-center mt-4">
            <span>Vous n'avez pas de compte ? </span>
            <a routerLink="/register" class="link link-primary">Inscrivez-vous ici</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<app-footer />
